.orders {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.ordersContainer {
	min-height: calc(100% - 120px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	min-width: 100%;
}
