.inputEdit {
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}
.options {
	font-size: 1rem;
	display: flex;
	gap: 20px;
	text-align: left;
}
.option {
	display: flex;
	flex-direction: column;
}

.inputEdit:not(:last-child) {
	margin-bottom: 15px;
}

.action {
	display: flex;
	flex-direction: row-reverse;

	justify-content: space-between;
}
