.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
}

.input {
	display: flex;
	flex-direction: column;
	width: fit-content;
	text-align: left;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 20px;
}

.container form {
	align-items: center;
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 1.5rem;
	color: red;
}
