.form .input {
	padding-bottom: 1em;
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.form {
	height: 100%;
	width: 285px;
	max-width: 70vw;
	overflow-y: auto;
}

.label {
	width: 100%;
}

.form button {
	align-self: center;
}
