.orders {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	text-align: left;
}

.ordersContainer {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	flex-direction: column;
}
