.card {
	position: relative;
	margin-bottom: 1rem;
	border-radius: 10px;
	padding: 5px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	transition: all 0.2s ease-in-out;
	min-width: 20rem;
	max-width: 90%;
}
